:root{
    --color-primary: #0f71ff;
    --background-color:#dae9ff;
    --color-text: #36393f;
    --color-alert: orange;
    --color-light: #f7f7f7;

    --font-main: "Poppins", sans-serif;

    --card-height: 540px;
    --card-padding: 40px;
    --card-widht:300px
   
}

*{
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--color-text);
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
  }

.card {
    display: grid;
    place-items: center;
    gap: 10px;
    width: var(--card-width);
    max-width: var(--card-width);
    height: var(--card-height);
    padding: var(--card-padding);
    border-radius: 5px;
    background-color: white;
    font-size: 100%;
    text-align: center;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 20px rgb(186, 181, 210);
}

.card h2 {
    margin: 0;
    text-shadow: 1px 1px 2px gray;
}

.card var {
    color: var(--color-primary);
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 10px;
    transition: font-size 0.3 ease;
}

.card:hover var {
    font-size: 50px;
}

.card var small {
    font-size: 16px;
}

.elite {
    border: 1px var(--color-alert) solid;
}

abbr[title] {
    cursor: help;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 0;
}

ul > li:first-child {
    font-weight: 700;
}

.card button {
    background-color: #466380; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card button:hover {
    background-color: #34495e; 
  }