:root{
    --color-base:#333;
    --color-base-figure-background: rgb(255, 0, 0);
    --color-base-figure-border: #000000;
    --body-font: font-family: "Merriweather", serif;
    --figcaption-font:font-family: "Zilla Slab", serif;
}


body{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: var(--color-base);
    font-family: var(--body-font)
}

p{
    color: rgb(0, 0, 0);
    padding: 0 45px;
    text-indent: 15px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
    font-family: var(--figcaption-font);
    color: #000;
}

h1, h2{
    padding: 10px;
    width:auto
}

h2{
    margin-top: 30px;
}

figure{
    text-align: center;
    background-color: var(--color-base-figure-background);
    border: 1px solid var(--color-base-figure-border);
    padding: 15px;
    margin: 30px;
    background-color: #ffb968;
    border-radius: 30px;

}

img{
    box-shadow: #000;
    border-radius: 5%;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

nav a{
    text-decoration: none;
    padding: 15px;
    color: #000;
    border-radius: 10%;
    height: 15px;
    float: right;
    font-size:large
}

nav{
    height: 50px;
    background-color: #6ca7ff;
}



article{
    background-color: #fff59c;
    margin: 10px 0px;
}

