
p{
    color: rgb(0, 0, 0);
}

body{
    background-image: url(../img/body-background.png);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

figcaption{
    font-style: oblique;
    background-color: antiquewhite;
    width:max-content;
    text-align: center
}

h1, h2{
    background-image: url(../img/sobre-background.jpg);
    width:max-content
}

figure{
    text-align: center
}

img{
    box-shadow: inset;
}

